:root {
	--font-head: "Roboto", sans-serif;
	--font-size: 1.1rem;
}

h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	font-size: var(--font-size);
}

main{
	padding: 25px;
}